// This file contains very basic styles.
// Set up a decent box model on the root element

html {
    scroll-behavior: smooth;
}

body {
    height: 100%;
    max-width: 1680px;
    margin: 0 auto;
    color: #333e48;
    background-color: #dfe3e8;
    -webkit-text-size-adjust: none;
    font-weight: 300;
    line-height: 1.33333rem;
}

main {
    background-color: #fff;
}

.section {
    padding: 3rem 1.5rem;
    @include mq(large) {
        padding: 6rem 1.5rem;
    }
}

*,
*::after,
*::before {
    box-sizing: inherit;
}
// Basic styles for links

a {
    color: $primary-color;
    text-decoration: none;
    @include on-event {
        color: darken($primary-color, 15%);
        text-decoration: underline;
    }
}

button,
input,
optgroup,
select,
textarea {
    font: normal 125% / 1.4 $text-font-stack;
}

.container {
    margin-left: auto;
    margin-right: auto;
}

.bg-orange {
    background: #F3EBE2;
}

li {
    margin-left: 20px;
    list-style-type: disc;
}

.row-full {
    margin: 0;
}

.img-shadow {
    box-shadow: 0 8px 28px rgba(0,0,0,0.15), 0 8px 10px rgba(0,0,0,0.12);
}

.rounded-br-xl {
    border-bottom-right-radius: 100px;
}

.rounded-bl-xl {
    border-bottom-left-radius: 100px;
}

// Highlighted text is brand color

::selection {
    background: $primary-color;
    color: #333;
}

// Inputs

.input-right-angle {
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    background: #CACACA;
    border-radius: 0 100px 0 0;
    &::placeholder {
        padding-left: .25rem;
        color: #3E4348;
        opacity: .4;
      }
}

.form-input-contact {
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.05);
    border-radius: 0 100px 0 0;
}