// Basic typography style for copy text

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'PT Sans', sans-serif;
  line-height: 1;
}

a,
li,
p,
small,
label {
  font-family: 'Cabin', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.title {
  margin-bottom: 24px;
  font-size: 28px;
  color: #3E4348;
  font-weight: 700;
  letter-spacing: 0;
  @include mq (small) {
    font-size: 36px;
  }
}