.homepage {
    &--hero {
        @include mq(large) {
            height: 800px;
            background: url('/img/homepage/hero.jpg') no-repeat right;
            background-size: contain;
        }
    }

    .main-video {
        height: 325px;
        @include mq(large) {
            height: 500px;
        }
    }

    &--quote {
        width: 100%;
        margin-left: 36px;
        @include mq (large) {
            background-image: linear-gradient(89deg, rgba(209,209,209,0.00) 0%, rgba(110,17,65,0.40) 100%);
            clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
        }
        p {
            padding-top: 36px;
            padding-bottom: 36px;
            max-width: 730px;
            font-size: 18px;
            line-height: 1.65;
        }
        &_info {
            max-width: 572px;
            padding: 36px 18px;
            position: relative;
            display: flex;
            justify-content: space-around;
            background: #FFFFFF;
            box-shadow: 0 3px 12px -1px rgba(0,0,0,0.09);
            border-radius: 4px;
            @include mq(large) {
                bottom: calc(1px + 1.5em);
                left: calc(50% - 270px);
            }
            div {
                &:first-of-type {
                    border-right: 1px solid #979797;
                    @include mq (medium) {
                        padding-right: 1.75em;
                    }
                }
            }
            p {
                font-size: 12px;
                @include mq (large) {
                    font-size: 16px;
                }
            }
        }
    }
    &--callout {
        display: flex;
        align-items: center;
        height: 500px;
        background: url('/img/homepage/callout-mobile.jpg') no-repeat center center;
        background-size: cover;
        @include mq (large) {
            background: url('/img/homepage/callout.jpg') no-repeat center center;
            background-size: cover;
        }
        h2 {
            font-size: 48px;
            margin-bottom: 48px;
            color: #FFFFFF;
            letter-spacing: 0;
            line-height: 32px;
            text-shadow: 2px 1px 8px hsla(0, 0%, 0%,.25);
        }
    }
}

.about {
    .article--hero {
        h1 {
            font-size: 28px;
            @include mq (small) {
                font-size: 35px;
            }
        }
    }
}