.article--hero {
    background: #F3EBE2;
    &_content {
        max-width: 480px;
        padding-left: calc(50% - 640px);
        display: flex;
        flex-direction: column;
        @include mq(large) {
            max-width: 640px;
        }
        @include mq(xl) {
            max-width: 770px;
        }
        h1 {
            margin-bottom: 24px;
            font-size: 32px;
            color: #3E4348;
            line-height: 1.25;
            @include mq(large) {
                font-size: 48px;
            }
        }
        p {
            margin-bottom: 48px;
            font-size: 20px;
            color: #3E4348;
        }
    }
    &_img {
        max-width: 812px;
    }
}