.article--hero {
    background: #F3EBE2;
    &_content {
        max-width: 590px;
        padding-left: calc(50% - 640px);
        display: flex;
        flex-direction: column;
        h1 {
            margin-bottom: 24px;
            font-size: 48px;
            color: #3E4348;
        }
        p {
            margin-bottom: 76px;
            font-size: 20px;
            color: #3E4348;
        }
    }
}